.about
	lost-center: 960px
	text-align: center
	padding: 0 10px
	box-sizing: border-box
	
	.about-header
		border-bottom: 1px solid mainGray
		.about-title
			font-size: 1.1em
			padding: 30px 50px
	
	.about-text
		lost-column: 1/3 0 15px
		
		h2
			margin: 0
		
		p
			margin: 0
			
	.about-reviews
		lost-column: 2/3 3 15px
		
		header
			h2
				margin: 0
				
		article
			blockquote
				span 
					margin: 0
			