.content
	lost-center: 960px
	text-align: center
	padding: 0 10px
	box-sizing: border-box

	section
		color: mainGray
		.content-header
			border-bottom: 1px solid mainGray
			
			
			.content-title
				font-size: 1.1em
				padding: 30px 50px
				span
					color: mainGreen
		
		.content-items
			lost-column: 1/3 3 15px
			margin: 20px 0
			
			.item
				header
					figure
						img
							border: 3px solid grayDark
							border-radius: 50%
							margin: 0
							width: 20%
					
					h1
						font-family: font
						font-size: 1em;
						color: grayDark
						
				
				article
					p
						font-size: 0.7em;

@media screen and (max-width: 710px)
	.content section .content-items
		lost-column: 1/2

@media screen and (max-width: 550px)
	.content section .content-items
		lost-column: 1