.footer
	color: mainWhite
	background-color: grayDark
	padding: 0 10px
	box-sizing: border-box
	
	.footer-content
		lost-center: 960px

		.footer-title
			float: left
			color: mainWhite
			font-size: 1.2em
			
		.footer-links
			float: right
			li 
				list-style-type: none
				display: inline
				padding-left: 30px
				a
					color: mainWhite
					font-size: 0.7em
					text-decoration: none
					&:hover
						text-decoration: underline

@media screen and (max-width: 610px)
	.footer .footer-content
		.footer-title
			text-align: center
			float: none
			
		.footer-links
			float: none
			text-align: center
			margin: 0
			padding: 0
			padding: 30px 0
			
			li 
				list-style-type: none
				display: inline-block
				padding: 10px
				
			