.header
	background-color: mainGreen
	padding-top: 25px
	
	section
		lost-center: 980px;
		color: mainWhite
		font-family: Arial
			
		.header-title
			lost-column: 1/3 0 15px
			padding: 0 paddRight 0 paddLeft
			box-sizing: border-box
			
		.header-menu
			lost-column: 2/3 
			padding: 0 paddRight 0 paddLeft
			box-sizing: border-box
			
			ul 
				text-align: right
				
				li
					list-style-type: none
					display: inline-block
					padding: 23px 0 0 20px
				
					a
						color: mainWhite
						text-decoration: none
		.header-menu-icon
			display: none
			
	.banner	
		lost-center: 980px;
		
		.banner-info
			padding: 0 paddRight 0 paddLeft
			box-sizing: border-box
			lost-column: 1/2
			margin-bottom: 50px
			h2, h3, p
				font-size: 1.2em
				margin-bottom: 20px
				
			h3
				font-size: calc(1.2em - .3em)
				
			p
				font-size: calc(1.2em - .5em)
				line-height: 1.5em
				margin-bottom: 20px
			
		.banner-icons
			padding: 0 paddRight 0 paddLeft		
			text-align: right
			lost-column: 1/2 
			box-sizing: border-box
			
			ul
				.icon-pin, 
				.icon-letter, 
				.icon-clock, 
				.icon-phone, 
				.icon-paper, 
				.icon-house, 
				.icon-tools, 
				.icon-card, 
				.icon-light, 
				.icon-conf, 
				.icon-zoom, 
				.icon-badge
					background: url('/assets/images/icons.png') no-repeat
					width: 80px
					height: 80px
					display: inline-block;
					padding: 0 0 10px 10px
					
				.icon-pin
					background-position: -30px -40px

				.icon-letter
					background-position: -170px -40px
					
				.icon-clock
					background-position: -310px -40px
					
				.icon-phone
					background-position: -450px -40px
					
				.icon-paper
					background-position: -30px -200px
					
				.icon-house
					background-position: -170px -200px
					
				.icon-tools
					background-position: -310px -200px
					
				.icon-card
					background-position: -450px -200px
					
				.icon-light
					background-position: -30px -360px
					
				.icon-conf
					background-position: -170px -360px
					
				.icon-zoom
					background-position: -310px -360px
					
				.icon-badge
					background-position: -450px -360px
					
@media screen and (max-width: 710px)

	.header 
		section 
			.header-menu
				text-align: center
				width: 100%
				ul li
					display: block
			
			.header-menu-icon
				float: right
				box-sizing: border-box
				display: block
		
		.banner 
			.banner-info
				lost-column: 1
				text-align: center
			
			.banner-icons 
				width: 100%
				text-align: center
				ul
					padding: 0